$mainFont: 'K2D', sans-serif;
$mainTextColor: black;
$facebookBlue: #4469b0;

.app {
  font-family: $mainFont;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

@import "header";
@import "statusUpdate";