.status-wrapper {
  border: 1px solid gray;
  width: 500px;
  grid-column: 2;
  grid-row: 2;

  .status-identity {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
    h4 {
      color: $facebookBlue;
      grid-column: 2;
      grid-row: 1;
    }

    .status-time {
      grid-column: 2;
      grid-row: 1;
      margin-bottom: 10px;
      margin-top: auto;
      font-size: .7em;
    }
    span {
      grid-column: 3;
      grid-row: 1;
      text-align: right;
      padding-right: 10px;
    }
  }

  .status-body {
    display: grid;
    span {
      grid-row: 2
    }
    p {
      grid-row: 2;
      text-align: right;
      padding-right: 10px;
    }
  }

  .status-response {
    display: flex;
    justify-content: space-around
  }
}